<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div ng-controller="ctrl">
      <input ng-model="ctrlName"/>
      <button ng-click="send(ctrlName)">Ctrl 1</button>
    </div>
    <!-- How do we share data between the two controllers or pass data from one controller to the other -->
    <div ng-controller="ctrl2">
      <div>{{name}}</div>
      <button ng-click="getStuff()">Ctrl 2</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
    <script src="ctrl.js"></script>
    <script src="ctrl2.js"></script>
  </body>
</html>
